@tailwind base;
@tailwind components;
@tailwind utilities;

.celda{
    height: 3rem;
    border: steelblue 1px solid;
}
.input-add{
    height: 1.8rem;
    border: brown 1px solid;
    border-radius: 5px;
}